.content {
    padding-left: 20%;
    padding-right: 20%;

}
.content h1 {
    text-align: center;
}

h1 {
    color: black;
}
body.oscuro p{
    color: white;
}

body {
    background-color: white;
}

body.oscuro {
    background-color: black;
}

body.oscuro h1 {
    color: yellow;
}
#cambiarModo{
    margin: 10px;
    margin-top: -55px;
    margin-right: 0;
    width: 100px;
    height: 30px;
    background-color: grey;
    position: relative;
    float: right;
    border-radius: 20px;
    
}
#cambiarModo img{
    width: 20px;
    height: 20px;
}
#cambiarModo #sol{
    position: absolute;
    left: 20px;
    top: 5px;
    background-color: yellow;
    border-radius: 100%;
}
#cambiarModo #luna{
    position: absolute;
    right: 20px;
    top: 5px;
    background-color: blue;
    border-radius: 100%;
}
body.oscuro #cambiarModo #sol{
 visibility: hidden;
}
body:not(.oscuro) #cambiarModo #luna{
    visibility: hidden;
}